*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // All other px measurements are converted to rem (num/10)). | 16/10 = .625 or 62.5% | 16px == 100%
    font-size: 62.5%;

    Padding: env(safe-area-inset);

    @include respond(big-desktop) {
        font-size: 75%;
    }

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

}

body {
    box-sizing: border-box;
    padding: 3rem;
    background: #989898;
    color: $color-white;
    text-shadow: 0px 1px #666;
    font-family: $main-font-family;

    @include respond(tab-port) {
        padding: 0;
    }


}

.bg-video__content {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vh;
    min-height: 100vh;
}

.hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}