.container {
    margin-top: 2rem;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%),
    radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898 fixed;
    background-blend-mode: multiply,multiply;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.card-container {
    display: grid;
    grid-template-columns: .5fr .5fr .5fr;
    grid-template-rows: 30rem 30rem;
    
    grid-row-gap: 4rem;
    grid-column-gap: 10rem;
    position: relative;
    padding-left: 9rem;
    padding-right: 9rem;
    top: 3rem;

    @include respond(tab-land) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 30rem 30rem;
        grid-gap: 5rem;
        padding: 3rem;
    }
    
    @include respond(phone) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 30rem);
        grid-auto-flow: row;
        grid-auto-rows: auto;
        grid-gap: 3rem;
        padding-left: 9rem;
        padding-right: 9rem;
        top: 1rem;
        
    }
}

.card {
    // Functionality
    width: 100%;
    perspective: 150rem;
    -moz-perspective: 150rem;
    font-size: 20px;
    position: relative;
    transition: all .2s ease-in-out;
    

    &:hover {
        transform: translateY(-10px);
    }

    &__side {
        height: 30rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        
        box-shadow: $shadow-1;

        &--front {
            background-color: #91CCA0;
            background-repeat: no-repeat;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        &--back {
            transform: rotateY(180deg);
            border: 6px solid $color-white;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(3, 1fr);

            &-1 {
                background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);      
            }
            &-2 {
                background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);      
            }
            &-3 {
                background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
            }
        }
    }

    /*&:hover &__side--front {
        transform: rotateY(-180deg);
    }*/

    /*&:hover &__side--back {
        transform: rotateY(0);
    }*/

    // Front side styling
    &__picture {
        overflow: hidden;
        background-size: cover;
        background-blend-mode: overlay;
        grid-column: 1 / 9;
        grid-row: 1 / 3;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: 5px solid $color-white;
        width: 100%;
        background-position: top;
        background-repeat: no-repeat;
        transition: all .3s ease-in-out;
        -webkit-box-shadow: 0px 13px 20px -10px rgba(0,0,0,0.18);
        -moz-box-shadow: 0px 13px 20px -10px rgba(0,0,0,0.18);
        box-shadow: 0px 13px 20px -10px rgba(0,0,0,0.18);
        border-radius: 5px;
        

        &:hover,
        &:active {
            border: 5px solid $color-primary-hilight;
            transform: scale(1.1) translateY(-10px);
        }
        
        &--1 {
            background-image: url(../img/device-tablet-masked-natours.jpg);  
        }
        &--2 {
            background-image: url(../img/device-tablet-masked-trilio.jpg);  
        }
        &--3 {
            background-image: url(../img/device-tablet-masked-natours.jpg);
        }

    }

    &__details {
        grid-row: 3 / 4;
        grid-column: 1 / 9;
        color: $color-white;
        cursor: default;
        padding-bottom: 2rem;
        

        &-heading--span {
            display: block;
            padding-top: .8rem;
            padding-bottom: .8rem;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
            font-size: 2.2rem;
            font-weight: 700;
            text-transform: uppercase;
            width: 60%;
            text-shadow: 0px 1px #666;
            text-align: center;
            transition: all .2s ease-in-out;
            margin: 0 auto;
            

            &:hover {
                color: $color-primary-hilight;
                letter-spacing: .3rem;
            }
            
        }

        &-tech {
            list-style: none;
            font-size: 1.4rem;
            text-shadow: none;
            font-weight: 100;
            padding-bottom: .8rem;
            text-shadow: 0px 1px #666;
        }

        &-tech li {
            display: inline-block;
            transition: all .3s ease-in-out;
            
            &:hover {
                color: $color-primary-hilight;
            }

            &:not(:last-child) {
                padding-right: 1rem;
            }
        }

        &-btn {
            color: $color-white;
            padding: 5px;
            background-blend-mode: screen;
            background-color: rgba($color-primary-hilight, .2);
            margin-top: .3rem;
            font-size: 1.5rem;
            border: none;
            width: 10rem;
            border-radius: 10px;
            transition: all .2s ease-in-out;
            border-bottom: 1px solid $color-primary-dark;
            display: inline-block;
            text-shadow: 0px 1px #666;
            cursor: pointer;
            

            &:hover {
                transform: scale(1.1);
            }
        }
        
    
    }

    &__cta {
        grid-column: 7 / 3;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        text-align: center;
        transform: translate(-50%, -50%);
        color: $color-white;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }
}