.header {
    &__heading {
        transition: all .3s ease-in-out;
        font-size: 4.5rem;
        color: $color-white;
        cursor: default;
        display: block;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}