// colors
$color-primary: #0093E9;
$color-secondary: #247BA0;
$color-tertiary: #80D0C7;
$color-alert: #FF1654;
$color-hilight: #74EBD5;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999; 
$color-grey-dark-3: #333; 

$color-white: #fff;
$color-black: #000;

// Box Shadows
$shadow-1: 0 1.5rem 4rem rgba($color-black, .15);

// Font
$default-font-size: 1.6rem;
$main-font-family: 'Raleway';

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;