.footer {
    margin-top: 10rem;
    margin-bottom: 5rem;

    &--copyright {
        color: $color-white;
        text-decoration: none;
        border-bottom: 1px solid rgba($color-white, 0);
        transition: all .3s ease-in-out;

        &:hover { 
            border-bottom: 1px solid rgba($color-white, 1);
            padding-bottom: 3px;
            opacity: 1;
         }
    }
}