.logo {
    background-color: transparent;
    position: fixed;
    width: 7rem;
    top: 0;
    left: 0;
    margin-left: 3.5rem;
    margin-top: 3.5rem;
    color: $color-white;
    
    &--img {
        width: inherit;
    }
    
}
