*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // defines what 1rem is - 10px;
    @include respond(big-desktop) {
        font-size: 75%;
    }
    @include respond(tab-land) {
        font-size: 56.25%;
    }
    @include respond(tab-port) {
        font-size: 50%;
    }



}
/* 
this is a great way of globally changing sizing combined with using rem rather than pixels.
All other px measurements are converted to rem (num/10)).

The default font size is 16px which means 16px == 100% of the font size
meaning 16/10 = .625 or 62.5% , which achieves a 10px global font size w/o
breaking accessability tools
*/

body {
    box-sizing: border-box;
    padding: 3rem;
    
    @include respond(tab-port) {
        padding: 0;
    }
}


::selection {
    background-color: $color-primary;
    color: $color-white;
}