.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden; /* fixes animation glitches | part behind element gets hidden */

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /*animation-delay: 3s;
        animation-iteration-count: 3;*/

        @include respond(phone) {
            letter-spacing: 1rem;
            font-family: 5rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.7rem;
        animation: moveInRight 1s ease-out;

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: $color-grey-dark;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary, $color-tertiary);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    @include respond(tab-port) {
        margin-top: 2rem;
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 1.8rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(10deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        
        @include respond(phone) {
            transform: skewY(1deg) skewX(5deg) scale(1.1);
        }
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) { /*select everything except the last child*/
        margin-bottom: 3rem;
    }
}