*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1800px) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  background: #989898;
  color: #fff;
  text-shadow: 0px 1px #666;
  font-family: "Raleway"; }
  @media only screen and (max-width: 900px) {
    body {
      padding: 0; } }

.bg-video__content {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vh;
  min-height: 100vh; }

::selection {
  background-color: #7ed56f;
  color: #fff; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
  /* fixes animation glitches | part behind element gets hidden */ }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*animation-delay: 3s;
        animation-iteration-count: 3;*/ }
    @media only screen and (max-width: 600px) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 600px) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #777; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  @media only screen and (max-width: 900px) {
    .heading-secondary {
      margin-top: 2rem;
      font-size: 3rem; } }
  @media only screen and (max-width: 600px) {
    .heading-secondary {
      font-size: 1.8rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 600px) {
      .heading-secondary:hover {
        transform: skewY(1deg) skewX(5deg) scale(1.1); } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    /*select everything except the last child*/
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 900px) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 900px) {
    .u-margin-bottom-large {
      margin-bottom: 5rem !important; } }

.u-margin-top-large {
  margin-bottom: 8rem !important; }

.u-margin-top-huge {
  margin-bottom: 10rem !important; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 900px) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 600px) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#55c57a, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 900px) {
    .navigation__background {
      top: 5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 600px) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }
  @media only screen and (max-width: 600px) {
    .navigation__list {
      top: 22rem; } }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #7ed56f;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header__heading {
  transition: all .3s ease-in-out;
  font-size: 5rem;
  color: #fff;
  cursor: default;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.container {
  margin-top: 2rem;
  text-align: center;
  position: relative;
  background-blend-mode: multiply, multiply;
  background-size: cover;
  background-repeat: no-repeat; }

.card-container {
  display: grid;
  grid-template-columns: .5fr .5fr .5fr;
  grid-template-rows: 30rem 30rem;
  grid-row-gap: 4rem;
  grid-column-gap: 10rem;
  position: relative;
  padding-left: 9rem;
  padding-right: 9rem;
  top: 3rem; }
  @media only screen and (max-width: 1200px) {
    .card-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 30rem 30rem;
      grid-gap: 5rem;
      padding: 3rem; } }
  @media only screen and (max-width: 600px) {
    .card-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 30rem);
      grid-auto-flow: row;
      grid-auto-rows: auto;
      grid-gap: 4rem;
      padding-left: 7rem;
      padding-right: 7rem;
      top: 1rem; } }

.card {
  width: 100%;
  perspective: 150rem;
  -moz-perspective: 150rem;
  font-size: 20px;
  position: relative;
  transition: all .2s ease-in-out;
  /*&:hover &__side--front {
        transform: rotateY(-180deg);
    }*/
  /*&:hover &__side--back {
        transform: rotateY(0);
    }*/ }
  .card:hover {
    transform: translateY(-10px); }
  .card__side {
    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #91CCA0;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(3, 1fr); }
    .card__side--back {
      transform: rotateY(180deg);
      border: 6px solid #fff;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(3, 1fr); }
      .card__side--back-1 {
        background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%); }
      .card__side--back-2 {
        background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%); }
      .card__side--back-3 {
        background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%); }
  .card__picture {
    overflow: hidden;
    background-size: cover;
    background-blend-mode: overlay;
    grid-column: 1 / 9;
    grid-row: 1 / 3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 5px solid #fff;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0px 13px 20px -10px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 13px 20px -10px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 13px 20px -10px rgba(0, 0, 0, 0.18);
    border-radius: .7rem;
    padding-bottom: 2rem; }
    @media only screen and (max-width: 600px) {
      .card__picture {
        transform: scale(1.1) translateY(-0.7rem); } }
    .card__picture:hover, .card__picture:active {
      border: 5px solid #B38485;
      transform: scale(1.1) translateY(-10px); }
    .card__picture--1 {
      background-image: url(../img/device-tablet-masked-natours.jpg); }
    .card__picture--2 {
      background-image: url(../img/device-tablet-masked-trilio.jpg); }
    .card__picture--3 {
      background-image: url(../img/device-tablet-masked-natours.jpg); }
    .card__picture--4 {
      background-image: url(../img/device-tablet-masked-natours.jpg); }
    .card__picture--5 {
      background-image: url(../img/device-tablet-masked-natours.jpg); }
    .card__picture--6 {
      background-image: url(../img/device-tablet-masked-natours.jpg); }
  .card__details {
    grid-row: 3 / 4;
    grid-column: 1 / 9;
    color: #fff;
    cursor: default;
    padding-bottom: 2rem; }
    .card__details-heading--span {
      display: block;
      padding-top: .8rem;
      padding-bottom: .8rem;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      font-size: 2.2rem;
      font-weight: 700;
      text-transform: uppercase;
      width: 60%;
      text-shadow: 0px 1px #666;
      text-align: center;
      transition: all .2s ease-in-out;
      margin: 0 auto; }
      .card__details-heading--span:hover {
        color: #B38485;
        letter-spacing: .3rem; }
      @media only screen and (max-width: 600px) {
        .card__details-heading--span {
          font-size: 3rem; } }
    .card__details-tech {
      list-style: none;
      font-size: 1.4rem;
      text-shadow: none;
      font-weight: 100;
      padding-bottom: .8rem;
      text-shadow: 0px 1px #666; }
    .card__details-tech li {
      display: inline-block;
      transition: all .3s ease-in-out; }
      .card__details-tech li:hover {
        color: #B38485; }
      .card__details-tech li:not(:last-child) {
        padding-right: 1rem; }
        @media only screen and (max-width: 600px) {
          .card__details-tech li:not(:last-child) {
            padding-right: 2.5rem; } }
    .card__details-btn {
      color: #fff;
      padding: 5px;
      background-blend-mode: screen;
      background-color: rgba(179, 132, 133, 0.2);
      margin-top: .3rem;
      font-size: 1.5rem;
      border: none;
      width: 10rem;
      border-radius: 10px;
      transition: all .2s ease-in-out;
      border-bottom: 1px solid #28b485;
      display: inline-block;
      text-shadow: 0px 1px #666;
      cursor: pointer; }
      .card__details-btn:hover {
        transform: scale(1.1); }
      @media only screen and (max-width: 600px) {
        .card__details-btn {
          font-size: 2.5rem;
          width: 18rem; } }
  .card__cta {
    grid-column: 7 / 3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #fff; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.footer {
  margin-top: 10rem;
  margin-bottom: 5rem; }
  .footer--copyright {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all .3s ease-in-out; }
    .footer--copyright:hover {
      border-bottom: 1px solid white;
      padding-bottom: 3px;
      opacity: 1; }
