.App {
  text-align: center;
}

.wow {
  visibility: hidden;
}

.navbar-opacity {
  background: rgba(76, 175, 80, 0.0);
}

.drop-down-menu {
  position: relative;
  z-index: 10;
}
.intro {
  background: url('./Images/apple-apple-devices-clean-205316.jpg')no-repeat center center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size:cover;
  background-color: #000000;
  height: 660px;
}

.App-logo {
  height: 80px;
  margin: 0 auto;
  top: 200px;
  right: 18px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: black;
}

.project-category {
  position: relative;
  font-size: 15px;
  background-color: #222;
  color: white;
  top: -20px;
  z-index: 1;
}

.search-icon {
  margin-right: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#container, .carousel {
  height: 100%;
  width: 100%;
	margin: 0;
}

.image-slide {
	transition: background-image .3s ease-in-out;
}

.slide-arrow {
	cursor: pointer;
	font-size: 2rem;
	top: 50%;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}
